<br>
<hr>

<form [formGroup]="contactForm" (ngSubmit)="kirim()">
  <div class="form-group row">
    <label class="col-sm-3" for="username">Your Name</label>
    <div class="col-sm-6">
      <input type="text" [formControlName]="'username'" class="form-control">
       <span *ngIf="!contactForm.get('username').valid && contactForm.get('username').touched" class='help-block'>
          <span *ngIf="contactForm.get('username').errors['required']">
            Wajib Diisi !
          </span> 
          <span *ngIf="contactForm.get('username').errors['blank']">
            Tidak Boleh Kosong !
          </span>
        </span>
    </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-3" for="usermail">Your Mail</label>
      <div class="col-sm-6">
        <input type="text" [formControlName]="'usermail'" class="form-control">
        <span *ngIf="!contactForm.get('usermail').valid && contactForm.get('username').touched" class='help-block'>
            <span *ngIf="contactForm.get('usermail').errors['required']">
              Wajib Diisi !
            </span> 
            <span *ngIf="contactForm.get('usermail').errors['blank']">
              Tidak Boleh Kosong !
            </span>
          </span>
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-3" for="usermsg">Your Message</label>
      <div class="col-sm-6">
        <input type="text" [formControlName]="'usermsg'" class="form-control">
      </div>
  </div>
  <button class="btn btn-primary" [disabled]="!contactForm.valid">Send</button>
</form>